# Backend URLs
NEXT_PUBLIC_URL_BACKEND=http://127.0.0.1:8000
NEXT_PUBLIC_URL_BACKEND_WS=ws://127.0.0.1:8000

# Auth & Services
NEXT_PUBLIC_URL_GOOGLE_LOGIN=
NEXT_PUBLIC_PAYPAL_CLIENT_ID=
NEXT_PUBLIC_PAYPAL_REDIRECT_URI=http://localhost:3000/profile/edit

# App Configuration
NEXT_PUBLIC_URL_FRONTEND=http://localhost:3000
